 font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
}

/* completa tu codigo aqui */

nav li {
    display: block;
    
 }
nav li a{
    height: 90px;
    width: 90px;
    background: #CCC;
    padding-left: 0px;
    display: table;
    transition: all 1s;
    
}

nav li a span {
    display: table-cell;
    opacity: 0;
    background: black;
    transition: all 1s;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    
 }
nav li:nth-child(1) a {background: #6699FF; color: #6699FF; }
nav li:nth-child(2) a {background: #66FFFF; color: #66FFFF; }
nav li:nth-child(3) a {background: #ffb380; color: #ffb380; }
nav li:nth-child(4) a {background: #FF99CC; color: #FF99CC; }

nav li a:hover span {
    opacity: 1;
    }


nav li a:hover {
    padding-left: 90px;
    }